{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'shop/style.css' %}">
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
<title>Moblino</title>
</head>
<body>

    <div class="container">

        <div class="row">
            <div class="col-md-12 ">
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                      <div class="navbar-nav">
                        <a class="nav-item nav-link active" href="#">Home</a>
                        <a class="nav-item nav-link" href="#">Features</a>
                        <button id="cart" data-html="true" type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom"
                        data-content="Hi there">
                          Cart
                        </button>
                        <a class="nav-item nav-link disabled" href="#">Disabled</a>
                      </div>
                    </div>
                  </nav>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <form class="card card-sm">
                    <div class="card-body row no-gutters align-items-center">
                        <div class="col"> 
                            <input type="search" name="item_name" placeholder="Search for some furniture" class="form-control form-control-borderless">
                        </div>
                        <div class="col-auto">
                            <button class="btn btn-success" type="submit">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="row" style="margin-top: 10px;">
            {% for product in product_objects %}
            <div class="col-md-3">
                <div class="card">
                    <img src="{{product.image}}" class="card-img-top">
                    <div class="card-body">
                        <div id="nm{{product.id}}" class="card-title">{{product.title}}</div>
                        <div id="price{{product.id}}" class="card-text">{{product.price}}</div>
                        <a href="/{{ product.id }}" class="btn btn-warning">View</a>
                        <button id="{{ product.id }}" class="btn adtc btn-warning">Add to chart</button>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row">
            <div class="col-md-3 offset-5">
                <ul class="pagination" style="margin-top: 30px;">
                    {% if product_objects.has_previous %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ product_objects.previous_page_number }}">Previous</a>
                        </li>
                    {% endif %}

                    <li class="page-item active ">
                        <a class="page-link" href="?page={{ product_objects.number }}">Current</a>
                    </li>

                    {% if product_objects.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ product_objects.next_page_number }}">Next</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>`

    </div>
</body>

<script type="text/javascript">
    if(localStorage.getItem('cart')==null){
        var cart = {};
    }
    else{
        cart = JSON.parse(localStorage.getItem('cart'))
    }

    $(document).on('click','.adtc', function(){
        //this if is added for when we clear localStorage and 
        //cart has still value in it
        if(Object.keys(localStorage).length === 0){
            cart = {};
        }

        var item_id = this.id.toString();

        if(cart[item_id] != undefined){
            cart[item_id][0] = cart[item_id][0] + 1;
            cart[item_id][2] += parseFloat(document.getElementById("price"+item_id).innerHTML);
        }
        else{
            cart[item_id] = Object.create(null);
            cart[item_id][0] = 1;
            cart[item_id][1] = document.getElementById("nm"+item_id).innerHTML;
            cart[item_id][2] = parseFloat(document.getElementById("price"+item_id).innerHTML);
        }
        console.log(cart);
        localStorage.setItem('cart',JSON.stringify(cart));
        document.getElementById('cart').innerHTML = "Cart (" + Object.keys(cart).length + ")";
    });

    DisplayPopover(cart);
    function DisplayPopover(cart){
        var cartString = "";
        cartString = "Have a good shop 😊</br>";
        var counter = 1;

        let cartObject = JSON.parse(localStorage.getItem('cart'));

        for(item in cartObject){
            cartString += counter + ") ";
            cartString += cartObject[item][1] + " Qnt<" + cartObject[item][0] +">" + "</br>";
            counter += 1;
        }
        cartString += "<a href='/checkout'><button id='checkout' class='btn btn-warning'>Checkout</button></a>"
        document.getElementById('cart').setAttribute('data-content',cartString);
        $('[data-toggle="popover"]').popover();
    }

</script>

</html>

